html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.fw-widget-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.tada-background {
  background-color: #ebeff3;
  border-radius: 4px;
  padding: 12px;
}

.add-tada-content {
  padding-top: 10px;
}

.tada-app-label {
  color: #475867;
}

.alignment-middle{
  text-align: center;
}

.button-middle {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
}

.text--xsmall {
  font-size: 12px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 20px;
}

.validation-message {
  font-size: 12px;
  margin-top: 3px;
  position: absolute;
  color: #ff5959;
}

.mandatory::after {
  content: "*";
  color: red;
  font-size: 14px;
  vertical-align: bottom;
  margin-left: 2px;
}

.what {
  grid-column: 2/3;
}

.img-size{
  height: 50px;
  width: auto;
}